[Unit]
Description=Elara Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/dev/bot/elara
ExecStartPre=/root/dev/bot/elara/logrotater.sh
ExecStart=/usr/bin/node dist/index.js
Restart=on-failure
RestartSec=5
EnvironmentFile=/root/dev/bot/elara/.env
MemoryMax=200M
MemoryHigh=180M
StandardOutput=append:/root/dev/bot/elara/logs/elara.log
StandardError=append:/root/dev/bot/elara/logs/elara.err.log
PrivateTmp=true
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
